## APPLIED STATISTICS

### Turma 9DTSR

### Sorteio de amostra probabilística e cálculo do Intervalo de confiança de 95%

Contexto dos dados

A gerente da área de Marketing Relacionamento da empresa XYZ tem observado, nas últimas campanhas, 
um aumento no número de clientes não contatados. Uma das estratégias para melhorar esse quadro é a 
utilização de outros canais de relacionamento. A gerente deseja testar os canais de relacionamento 
em uma amostra de tamanho igual a 40.

#### Dicionário de variáveis:

#### Sexo: 2=Masculino;4=Feminino

#### Idade: Idade 

#### Cor_pele:0=missing; 2=Branca; 4=Preta; 6=Amarela; 8 = Parda

#### Telefone móvel:2=Sim; 4=Não

#### Anos_estudo: Anos de estudo

In [1]:
# Importar as bibliotecas

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Importar o arquivo de dados

In [2]:
# Importar o arquivo Arq_trab2.csv

df = pd.read_csv('Arq_trab3.csv')

In [3]:
# visualizar os dados
df.head()

   ID  Sexo  idade  Cor_pele  Telefone_movel  Anos_estudo
0   1     2     30         8               4            2
1   2     4     36         8               2            9
2   3     2     19         2               2           12
3   7     2     26         2               2           16
4   8     4     21         2               2           11

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2616 entries, 0 to 2615
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              2616 non-null   int64
 1   Sexo            2616 non-null   int64
 2   idade           2616 non-null   int64
 3   Cor_pele        2616 non-null   int64
 4   Telefone_movel  2616 non-null   int64
 5   Anos_estudo     2616 non-null   int64
dtypes: int64(6)
memory usage: 122.8 KB

In [5]:
# mudar o formato da variável number para string

df['Sexo'] = df['Sexo'].astype(str)
df['Cor_pele'] = df['Cor_pele'].astype(str)
df['Telefone_movel'] = df['Telefone_movel'].astype(str)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2616 entries, 0 to 2615
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              2616 non-null   int64
 1   Sexo            2616 non-null   object
 2   idade           2616 non-null   int64
 3   Cor_pele        2616 non-null   object
 4   Telefone_movel  2616 non-null   object
 5   Anos_estudo     2616 non-null   int64
dtypes: int64(3), object(3)
memory usage: 122.8+ KB

In [7]:
# Tabela de frequêcia
df.Telefone_movel.value_counts(normalize=True)

Telefone_movel
2    0.792049
4    0.207951
Name: proportion, dtype: float64

# Tabela de Frequência da População

In [19]:
sexo =pd.pivot_table(df, index='Sexo', values='ID', aggfunc=np.count_nonzero)

In [20]:
sexo['%'] = (pd.pivot_table(df, index='Sexo', values='ID', aggfunc=np.count_nonzero))/df['ID'].count()*100

In [21]:
sexo

        ID          %
Sexo
2     1240  47.400612
4     1376  52.599388

# Medidas resumo da Idade e Anos de estudo da População

In [22]:
df['idade'].describe()

count    2616.000000
mean       41.511468
std        16.657495
min        18.000000
25%        28.000000
50%        39.000000
75%        52.000000
max        97.000000
Name: idade, dtype: float64

In [23]:
df['Anos_estudo'].describe()

count    2616.000000
mean        8.504969
std         4.550038
min         1.000000
25%         5.000000
50%         9.000000
75%        12.000000
max        17.000000
Name: Anos_estudo, dtype: float64

# Sorteio da amostra probabilística

In [24]:
# sorteio de uma amostra aleatória simples
df_sample = df.sample(n=40 )

In [25]:
df_sample.head()

        ID Sexo  idade Cor_pele Telefone_movel  Anos_estudo
1959  2900    4     19        2              2           12
877   1378    2     45        8              2            9
1036  1617    4     58        8              2            1
1312  2024    2     48        4              2           12
913   1438    4     30        2              2           12

In [26]:
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40 entries, 1959 to 1460
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              40 non-null     int64
 1   Sexo            40 non-null     object
 2   idade           40 non-null     int64
 3   Cor_pele        40 non-null     object
 4   Telefone_movel  40 non-null     object
 5   Anos_estudo     40 non-null     int64
dtypes: int64(3), object(3)
memory usage: 2.2+ KB

# Tabela de Frequência da Amostra

In [27]:
sexo_ams =pd.pivot_table(df_sample, index='Sexo', values='ID', aggfunc=np.count_nonzero)

In [28]:
sexo_ams['%'] = (pd.pivot_table(df_sample, index='Sexo', values='ID', aggfunc=np.count_nonzero))/df_sample['ID'].count()*100

In [29]:
sexo_ams

      ID     %
Sexo
2     21  52.5
4     19  47.5

# Medidas resumo da Idade e Anos de estudo da Amostra

In [30]:
df_sample.describe()

                ID      idade  Anos_estudo
count    40.000000  40.000000    40.000000
mean   1745.575000  46.800000     7.450000
std     923.521102  16.770242     4.673713
min      89.000000  19.000000     1.000000
25%    1199.500000  31.500000     3.750000
50%    1513.000000  48.000000     7.000000
75%    2312.500000  59.500000    12.000000
max    3507.000000  76.000000    16.000000

In [34]:
df_sample['idade'].describe()

count    40.000000
mean     46.800000
std      16.770242
min      19.000000
25%      31.500000
50%      48.000000
75%      59.500000
max      76.000000
Name: idade, dtype: float64

In [35]:
df_sample['Anos_estudo'].describe()

count    40.000000
mean      7.450000
std       4.673713
min       1.000000
25%       3.750000
50%       7.000000
75%      12.000000
max      16.000000
Name: Anos_estudo, dtype: float64

### Cálculo do Intervalo de Confiança de 95% para proporção

#### Limite inferior = p - 1.96*sqrt(p*q)
#### Limite superior = p + 1.96*sqrt(p*q)

#### nível de confiança de 95% = 1.96
#### p=proporção de usuários de telefone móvel
#### q= 1-p = proporção de usuários sem telefone móvel

### Cálculo da proporção de clientes com telefone

### Alterar o número de clientes com telefone móvel (k)
### prop_tel=k/40

In [31]:
telefone_ams =pd.pivot_table(df_sample, index='Telefone_movel', values='ID', aggfunc=np.count_nonzero)

In [32]:
telefone_ams['%'] = (pd.pivot_table(df_sample, index='Telefone_movel', values='ID', aggfunc=np.count_nonzero))/df_sample['ID'].count()*100

In [33]:
telefone_ams

                ID     %
Telefone_movel
2               31  77.5
4                9  22.5

In [21]:
import math as math

### Cálculo do Erro padrão

In [ ]:
# 1 passo: criar a variável dummy se tem telefone móvel
df_sample.loc[(df_sample.Telefone_movel == "2"), 'amostra_clientes_com_telefone']=1

In [ ]:
# 2 passo: somar as pessoas com telefone móvel
amostra_clientes_com_telefone = df_sample['amostra_clientes_com_telefone'].sum()

In [ ]:
# 3 passo: tamanho da amostra
tamanho_amostra = len(df_sample)

In [ ]:
# 4 passo: calcular a proporcao de clientes com telefone
prop_telefone = amostra_clientes_com_telefone/tamanho_amostra
prop_telefone

In [ ]:
# 5 passo: calcular o erro padrão
erro_padrao = math.pow((prop_telefone*(1-prop_telefone)/tamanho_amostra), 1/2)

In [ ]:
#proporção de telefone
prop_telefone

In [ ]:
# erro padrão
erro_padrao

In [ ]:
#Margem de erro
margem_erro = 1.96*erro_padrao

In [ ]:
margem_erro

In [ ]:
#Limite inferior do intercalo de confiança
limite_inferior = prop_telefone - margem_erro

In [ ]:
limite_inferior

In [ ]:
#Limite superior do intervalo de confiança
limite_superior = prop_telefone + margem_erro

In [ ]:
limite_superior

In [ ]:
# Conclusão